<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block body %}
    <div>
        <h1 style="font-size:75px; text-align:center; font-family: gilroy,serif;">Events</h1>
        <h2 style="font-size:35px; text-align:center; font-family: gilroy,serif;">Learn about events you might be interested in!</h2>
    </div>

    <div style="text-align: center">
        <input type="image" src="../static/assets/sprints.jpeg" style="width:49vw; height:30vw;" onclick="location.href = 'sprints'">
        <input type="image" src="../static/assets/polevault.png" style="width:49vw; height: 30vw; background-color: yellow" onclick="location.href = 'vault'">
    </div>

    <div style="text-align: center" >
        <input type="image" src="../static/assets/hurdles.png" style="width:49vw; height:30vw; background-color: blue" onclick="location.href = 'hurdles'";>
        <input type="image" src="../static/assets/throws.png" style="width:49vw; height: 30vw; background-color: green" onclick="location.href = 'throws'">
    </div>
{% endblock %}