<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block body %}

<h2 style="text-align: center; color: white"> Hurdles </h2>
<style>
    body {
        background-image: url('https://media.istockphoto.com/photos/hurdles-on-competition-background-picture-id1130509319?k=20&m=1130509319&s=170667a&w=0&h=LuKE8oV6rYNwMFINFXA5ifcUkuBH0d2GWP-AoiwZc3I=');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<div>
    <p style="text-align: center;"><a style="font-size: 20px" href="https://en.wikipedia.org/wiki/Hurdling" class="btn btn-primary">Learn about Hurdles</a>
</div>

{% endblock %}