<!DOCTYPE html>
{% extends "layouts/base.html" %}
{% set project = "Pace Conversion" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block body %}
    <style>
        body {
            background-image: url('https://c8.alamy.com/comp/EMD5HM/calculator-a-background-EMD5HM.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>

    <p style="text-align: center;"><embed type="text/html" src="http://www.mredkj.com/javascript/pacecalc3.html" width="500" height="400">

{% endblock %}
</html>