<!-- EXTEND (layout.html), this is a template for all rendered pages in the project -->
{% extends "layouts/base.html" %}

<!-- CONTENT (in <head>), content for this page -->
{% block meta %}
<title>CRUD page</title>
<script src={{url_for("crud.static", filename="javascript/validation.js", version='101') }}></script>
<script src={{url_for("crud.static", filename="javascript/reload_page.js", version='101') }}></script>
{% endblock %}

<!-- CONTENT (in <body>), content for this page -->
{% block body %}
<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom border-primary text-dark">
        <span class="fs-4">Database of Courses Offered at DNHS</span>
    </header>
</div>
<div class="container py-4 text-light bg-success">

    <div class="container bg-secondary py-4">
        <div class="p-5 mb-4 bg-light text-dark rounded-3">
            <h2>Table Viewer</h2>


            <div class="row align-items-md-stretch">
                <div class="container-fluid py-5">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Department</th>
                            <th>Course Title</th>
                            <th>CourseID</th>
                            <th>Freshman</th>
                            <th>Sophomore</th>
                            <th>Junior</th>
                            <th>Senior</th>
                            <th>Notes</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Loop through rows in table -->
                        {% for row in table %}
                        <tr>
                            <td>{{ row['department'] }}</td>
                            <td>{{ row['course_name'] }}</td>
                            <td>{{ row['course_id'] }}</td>
                            <td>{{ row['freshman'] }}</td>
                            <td>{{ row['sophomore'] }}</td>
                            <td>{{ row['junior'] }}</td>
                            <td>{{ row['senior'] }}</td>
                            <td>{{ row['notes'] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>



    </div>

</div>

</div>

{% endblock %}