{% extends "layouts/base.html" %}

{% block body %}
<style>
    body {
        background-image: url('https://images.squarespace-cdn.com/content/v1/590a76a3414fb5faa9436eab/1554235107217-4XW2HZRG66736XSWGVET/trackandfield1.jpg?format=1500w');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<div>
    <h2 style="font-size:35px; text-align:center; font-family: Cambria,serif; color: ghostwhite;">Track Calendar</h2>
</div>

<div>
    <p style="text-align: center;"><iframe src="https://calendar.google.com/calendar/embed?src=ppp44fit4rr83qf802eekars1s%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>

<p style="text-align: center; color: ghostwhite;">Remember to check the weather before going to an event!</p>
<!-- the DIV that will contain the widget -->
<div class="weatherWidget" ></div>

<script>
    window.weatherWidgetConfig =  window.weatherWidgetConfig || [];
    window.weatherWidgetConfig.push({
        selector:".weatherWidget",
        apiKey:"9PN99WCVUHRNERA4XYHYCTGRS", //Sign up for your personal key
        location:"San Diego, USA", //Enter an address
        unitGroup:"metric", //"us" or "metric"
        forecastDays:5, //how many days forecast to show
        title:"San Diego Forecast", //optional title to show in the
        showTitle:true,
        showConditions:true
    });

    (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://www.visualcrossing.com/widgets/forecast-simple/weather-forecast-widget-simple.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>

{% endblock %}