<!DOCTYPE html>
{% extends "layouts/base.html" %}
{% set project = "Stats" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

{% block body %}
<style>
    body {
        background-image: url('https://media.istockphoto.com/photos/track-run-line-running-picture-id910388568?k=20&m=910388568&s=612x612&w=0&h=iFciFIMOyyW6xvFwveQNhxukxU7OpZfSnwpHB1NqwLc=');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
{% endblock %}
</html>