<!DOCTYPE html>
{% extends "layouts/base.html" %}
{% set project = "Training Log" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block body %}
<style>
    body {
        background-image: url('https://images.unsplash.com/photo-1534185372994-55f9e64235c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHRyYWNrfGVufDB8fDB8fA%3D%3D&w=1000&q=80');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
{% endblock %}
</html>