<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
    <div class="index">
        <div class="center-block" style="margin: 2% 10% 10%; font-family: gilroy,serif;">
            <div class="col-12" style="text-align: center;">
                <h1><strong>Something went wrong, and we can't find the page you're looking for...</strong></h1>
            </div>

            <div class="jumbotron jumbotron-fluid" style="text-align: center; ">
                <h2>Engineering is on the case! (hopefully) </h2>
                <a href="/">Time to touch some grass :/</a>
                <a href="/">If you really want to access this site, DM Michael_Scopic.sh#0102 on discord to try and fix it</a>
            </div>
        </div>
    </div>
{% endblock %}