<!DOCTYPE html>
<nav class="navbar navbar-expand-lg"; style="background-color:#224680";>
    <div class="container-fluid">
        <div class="btn-group">
            <div class="collapse navbar-collapse" id="navbarHome">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link"; style="color:white" href="/">Home <span class="sr-only"></span></a>
                    </li>
                    <a class="nav-link"; style="color:white" href={{ url_for('events') }}>Events<span class="sr-only"></span></a>
                    <a class="nav-link"; style="color:white" href={{ url_for('schedule') }}>Schedule <span class="sr-only"></span></a>
                    <a class="nav-link"; style="color:white" href={{ url_for('records') }}>Records <span class="sr-only"></span></a>
                    <a class="nav-link"; style="color:white" href={{ url_for('pace_conversion') }}>Pace Conversion <span class="sr-only"></span></a>
                    <a class="nav-link"; style="color:white" href={{ url_for('crud.crud_login') }}>Login <span class="sr-only"></span></a>
                    <a class="nav-link"; style="color:white" href={{ url_for('crud.logout') }}>Logout<span class="sr-only"></span></a>
                    <a class="nav-link"; style="color:white" href={{ url_for('crud.crud') }}>Crud<span class="sr-only"></span></a>
                    <a class="nav-link"; style="color:white" href={{ url_for('notes.notes') }}>Notes<span class="sr-only"></span></a>
                    <a class="nav-link"; style="color:white" href={{ url_for('sports_api') }}>Sports API<span class="sr-only"></span></a>

                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                        <ul class="navbar-nav">
                            <!-- Navbar clock -->
                            <div style="color:black; alignment: right" class="btn-group">
                                <div class="px-3" style="color:white;">
                                    <span id="clock"></span>
                                </div>
                            </div>

                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</nav>

<script>
    // Clock Control
    // clockElement global element set for convenience
    let clockElement = document.getElementById('clock');
    // Clock update executes on each interval set by timer
    function clock() {
        let date = new Date();
        clockElement.textContent = date.toLocaleString();
    }
    // Clock refresh timer, a reoccurring event
    setInterval(clock, 1000);
    // End Clock Control

    function showTimer() {
        if (document.getElementById("timerInputContainer").style.display == "none") {
            document.getElementById("timerInputContainer").style.display = "block"
            if (localStorage.getItem('end') !== null) {
                timer()
            }
        } else {
            document.getElementById("timerInputContainer").style.display = "none"
        }
    }
    function timer() {
        var duration = document.getElementById("timerInput").value
        var current = new Date().getTime();
        var New = duration*60000;
        var end = current + New
        if (localStorage.getItem('end') !== null)
            end = localStorage.getItem('end')
        localStorage.setItem('end', end)
        document.getElementById("startButton").addEventListener("click",function(){
            localStorage.removeItem('end')
            clearInterval(myFunc)
            timer()

        })
        var myFunc = setInterval(function() {
            var now = new Date().getTime();
            var timeleft = end - now
            var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);
            document.getElementById("remainingTime").style.color = "black"
            document.getElementById("remainingTime").innerText = (hours + ":" + minutes + ":" + seconds)
            if (timeleft<=0) {
                clearInterval(myFunc);
                document.getElementById("remainingTime").innerText = "TIME IS UP"
                document.getElementById("remainingTime").style.color = "red"
                document.getElementById("timerInputContainer").style.display = "block"
                localStorage.removeItem('end')
            }
        },1000)
    }
</script>