{% include "layouts/base.html" %}

<style>
    body {
        font-family: Arial;
        margin: 0;
    }

    * {
        box-sizing: border-box;
    }

    img {
        vertical-align: middle;
    }

    /* Position the image container (needed to position the left and right arrows) */
    .container {
        position: relative;
    }

    /* Hide the images by default */
    .mySlides {
        display: none;
    }

    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
        cursor: pointer;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* Container for image text */
    .caption-container {
        text-align: center;
        background-color: #222;
        padding: 2px 16px;
        color: white;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Six columns side by side */
    .column {
        float: left;
        width: 16.66%;
    }

    /* Add a transparency effect for thumnbail images */
    .demo {
        opacity: 0.6;
    }

    .active,
    .demo:hover {
        opacity: 1;
    }
</style>

{% block body %}

    <div>
        <h2 style="font-size:50px; text-align:center; font-family: Cambria,serif; color: ghostwhite;">Welcome to DNHS Track</h2>
    </div>

    <div class="container">
        <div class="mySlides">
            <div class="numbertext">1 / 4</div>
            <img src="https://user-images.githubusercontent.com/89223570/171519426-dc0cc2a6-af6c-4383-be0d-43229e8e9bc3.png" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 4</div>
            <img src="https://user-images.githubusercontent.com/89223570/171519480-797f23b1-1c6c-4e16-8ada-7b01a06622cb.png" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 4</div>
            <img src="https://user-images.githubusercontent.com/89223570/171519520-541fc902-b69b-478e-830a-cedd4bb3816c.png" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 4</div>
            <img src="https://user-images.githubusercontent.com/89223570/171519566-75ced26f-53fd-4b14-8900-df45cfb75220.png" style="width:100%">
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

        <div style="text-align: center; color: white">
            <h2>Weekly Details</h2>
            <br>Meet Information: Opponent - California State Meet, Location - Buchanan High School</br>
            <br>Uniform Turn: If you have not turned in your uniform, do so ASAP during practice</br>
            <br>Team Banquet - Wednesday May 25th @ the Del Norte Gym (Food - 5PM-5:45PM, Awards - 6PM)</br>
            <br>    </br>
            <h2>Important Links</h2>
            <a href="https://n.b5z.net/i/u/10063999/f/Team_Rules_and_Varsity_Letter_Criteria.pdf">Team Rules/Varsity Letter Requirements   |</a>
            <a href="https://n.b5z.net/i/u/10063999/f/DN_TF_Outside_Activity_Contract.pdf">Outside Activity Contract   |</a>
            <a href="https://www.athletic.net/TrackAndField/School.aspx?SchoolID=31013">Schedule   |</a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSd3uoXQFfDD6GEYzlKy8LRxgjroFO5LcckQJw0dMXDl0SWfWg/viewform">Absence Form   |</a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScej0VDcwIZVeFKSHDHlISeemXMuCHjcm6P7IGr4M892R5hjg/viewform">Parent Meeting Sign In</a>

        </div>
    </div>

    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("demo");
            let captionText = document.getElementById("caption");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
            captionText.innerHTML = dots[slideIndex-1].alt;
        }
    </script>


    <style>
        body {
            background-image: url('https://st.depositphotos.com/1018728/4371/i/450/depositphotos_43714077-stock-photo-running-track-under-blue-sky.jpg');
            background-size: cover;
            background-repeat: no-repeat;

        }
    </style>


{% endblock %}

